<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<style>
    


</style>

<section>
    <h2>{{nombre}}</h2>
</section>

<div>
    Ciudades 

    <select id="ciudad_value" onchange="consultarApi()">
        {% set newArray = [] %}
        {% for ciudad in listaciudades %}
            {% if ciudad.nombrePais not in newArray %}
                <optgroup label="{{ ciudad.nombrePais|e }}">
                {% set newArray = newArray|merge([ciudad.nombrePais]) %}
            {% endif %}
            <option value="{{ ciudad.codPais|e }}">{{ ciudad.nombreCiudad|e }}</option>
        {% endfor %}
    </select>

</div>
    
</div>


<script type="text/javascript">

function consultarApi(selector)
    {
        console.log('{{nombre}}'+' '+$('#ciudad_value option:selected').val()+' '+$('#ciudad_value option:selected').text());
    }

</script>
